// .container
// {
//     border: 1px solid red;
//     .row
//     {
//         border: 1px solid green;
//     }
//     .col {
//         border: 1px solid blue;
//     }
// }
.container {
    max-width: 940px !important;
}
H1, H2, H3, p, span 
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300; 
    }
.home-wrapper 
{
    background: url(../img/background.png) no-repeat  rgba(52, 43, 86, 1);
    background-size:cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-bottom: 64px;
}

header {
    

    .container 
    {
        padding: 0;
        max-width: 940px;

        
        .logo-type 
        {
            padding-top: 17px;
            
            .logo-name {
                margin-left: 15px;
            }
        }
        .navbar 
        {
            padding: 0;
            padding-left: 46px;
            .navbar-nav 
            {
                padding-top: 35px;
                .nav-item 
                {   
                    .nav-link 
                    {
                        color: #ffffff;
                        text-transform: uppercase;
                        font-weight: 700; 
                        font-size: 13px;
                        margin-left: 26px;
                        line-height: 11px;
                        padding: 0;
                    }   
                    &.active
                    {
                        .nav-link 
                        {
                            color: rgb(0,224,208) ;
                        }
                    }
                }
                
                
            }      
        
        }
    } 
}
#home {
    .carousel-indicators {
        top: 500px;
    }
   
    .carousel-indicators .active{
        background-color: rgb(0,224,208);
    }


.carousel-item 
{
    
    h5 {
    font-family: PlayfairDisplay ;
    padding-top: 160px;
    font-size: 32px;
    font-weight: 700;
    line-height: 18px;
    color: #ffffff;
    margin-bottom: 30px;

    }
    p {
    width: 770px;
    margin: 30px auto 0 auto;
    font-size: 14px;
    color: #ffffff;

    }
    .border-line {
        border-bottom: 1px solid rgb(0,224,208);
        width: 55px;
        margin: 20px auto 0 auto;
    }
    button {
        border: 1px solid rgb(0,224,208);
        color: rgb(0,224,208);
        width: 120px;
        height: 40px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        margin-top: 52px;
        margin-bottom: 125px;
        font-family: Roboto;
        background-color: unset;
    }

} 
    
}
.about {
    .logos {
        width: 235px;
        height: 228px;
        margin-top: 70px;
        margin-right: 100px;
    }
    .our-story {
        padding: 0;
    
        h3 {
            font-family: PlayfairDisplay;
            font-weight: 700;
            font-size: 22px;
            margin-top: 70px;
            color: #5a5763;

        }
        p {
            font-family: Poboto;
            font-size: 14px;
            font-weight: 400;
            margin-top: 25px;
            color: #5a5763;
        }
        button {
            border: 1px solid rgb(0,224,208);
            color: rgb(0,224,208);
            width: 120px;
            height: 40px;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            margin-top: 35px;
            margin-bottom: 70px;
            font-family: Roboto;
            background-color: unset;
    }    }

    .our-video {
        iframe {
        width: 100%;
        height: 550px;
        }
    }
}   .expertise-title {
        h5 {
            margin-top: 70px;
            font-family: PlayfairDisplay;
            font-size: 22px;
            font-weight: 800;
            color: #5a5763;
        }
        p {
            font-family: PlayfairDisplay;
            font-size: 14px;
            font-weight: 400;
            color: #5a5763;
            margin-top: 15px;
        }
        .border-line {
            border-bottom: 3px solid #c6c4c9;
            width: 55px;
            margin: 20px auto 0 auto;
            margin-top: 19px;
        }
}
    .work {
        display: flex;
        margin: 47px auto 70px auto;
        flex-wrap: wrap;
        text-align: center!important;
        max-width: 1110px;
        justify-content: center;
       
        
        .monitor, .paint, .mobile, .round, .game, .heard{
            border: 1px solid #5a5763;
            width: 320px;
        
            img {
                margin-top: 35px;
            }

            h5 {
                font-family: roboto;
                font-size: 14px;
                font-weight: 700;
                margin-top: 38px;
                color: #5a5763;
            }
            p {
                font-family: roboto;
                font-size: 14px;
                font-weight: 100;
                margin: 35px auto 40px auto;
                width: 255px;
                color: #5a5763;
        }   }
        .monitor {
            border: 1px solid #ebebeb;
            width: 320px;
            border-top: none;
            border-left: none;
        }

        .paint {
            border: 1px solid #ebebeb;
            width: 320px;  
            border-top: none;  
        }
        .mobile {
            border: 1px solid #ebebeb;
            width: 320px;
            border-top: none;
            border-right: none;

        }
        .round {
            border: 1px solid #ebebeb;
            width: 320px;
            border-left: none;
            border-bottom: none;
        }
        .game {
            border: 1px solid #ebebeb;
            width: 320px;
            border-bottom: none;
        }
        .heard {
            border: 1px solid #ebebeb;
            width: 320px;
            border-bottom: none;
            border-right: none;
        }
    }
.team {
    background: url(../img/background.png) no-repeat  rgba(52, 43, 86, 1);
    background-size:cover;
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
    width: 100%;
    .our-team {
        h5 {
            font-family: PlayfairDisplay;
            font-size: 22px;
            font-weight: 800;
            color: #f4f4f6;
            padding-top: 72px;
            text-transform: uppercase;

        }
        p {
            font-family: PlayfairDisplay;
            font-size: 14px;
            font-weight: 400;
            color: #f4f4f6;
            margin-top: 15px ;
        }
        .border-line {
            border-bottom: 3px solid #655c80;
            width: 55px;
            margin: 20px auto;
        }
    }
    .img-team {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 auto;
        .photo {
            width: 220px;
            min-height: 310px;
            border: 1px solid #78758c;
            margin-top: 45px;


        
            img {
                width: 220px;
                height: 230px;
            }
            h5 {
                text-transform: uppercase;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 800;
                color: #f3f3f5;
                margin-top: 20px;

            }
            p {
                text-transform: uppercase;
                font-family: Roboto;
                font-size: 13px;
                font-weight: 100;
                color: #a6a4b4; 
                margin: 12px 0 27px 0;
            }
        }

    }
    .dream-team {
        p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 100;
            color: #f3f3f3;
            margin-top: 70px;

        }
        button {
            width: 140px;
            height: 40px;
            border: 1px solid rgb(0,224,208);
            color: rgb(0,224,208);
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            margin-top: 28px;
            margin-bottom: 70px;
            font-family: Roboto;
            background-color: unset;
        }
    }

}
.our-work {
    width: 100%;
    padding: 0;
    margin: 0;
    .project {
        display: flex;
        justify-content: space-between;
        h5 {
            font-family: PlayfairDisplay;
            font-size: 22px;
            font-weight: 800;
            color: #413d4b;
            margin-top: 72px;
            text-transform: uppercase;
 
        }
        p {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 100;
            color: #413d4b;
            margin-top: 70px;
            i {
                margin-left: 10px;
            }
        }
    }
    #grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px;
        margin: 75px auto 0 auto;
        

        img {
            
            width: 100%;
            height: 200px;
        }
    }
    button {
        border: 1px solid rgb(0,224,208);
        color: rgb(0,224,208);
        width: 140px;
        height: 40px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        font-family: Roboto;
        background-color: unset;
        display: block;
        margin: 70px auto;
    }
}
.team {
    .quote {
        h5 {
            font-family: PlayfairDisplay;
            font-size: 100px;
            font-weight: 400;
            color: #f4f4f6;
            padding-top: 70px;
        }
        p {
            font-family: PlayfairDisplay;
            font-size: 16px;
            font-weight: 400;
            color: #f4f4f6;
            margin: 43px auto;
            max-width: 770px;
        }
    }
    .container {
        .carousel-item {
            margin-top: 55px;

            h5 {
                font-family: Roboto;
                font-size: 14px;
                font-weight: 800;
                color: #f4f4f6;
            }
            p {
                font-family: Roboto;
                font-size: 13px;
                font-weight: 100;
                color: #f4f4f6;
                margin-top: 15px;
                margin-bottom: 0;
            }
            img.bigger {
                margin: 45px 15px;
                width: 70px;
                height: 70px;
            }
            
        }    
        
    }
}
.good-news {
    width: 100%;
    padding: 70px 0 115px 0;
    h5 {
        padding-bottom: 35px;
        font-family: PlayfairDisplay;
        font-size: 22px;
        font-weight: 800;
        color: #413d4b;
    }
    .form-group {
        width: 460px;
        color: #e5e5e5;
        margin-bottom: 0;
        padding-bottom: 20px;

        input {
            color: #b9b7bd;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 100;
            padding-left: 20px;
        }
        textarea {
            color: #b9b7bd;
            font-family: Roboto;
            font-size: 14px;
            font-weight: 100;
            padding-left: 20px;
            padding-bottom: 23px;
        }
    }
    button {
        border: 1px solid rgb(0,224,208);
        color: rgb(0,224,208);
        width: 120px;
        height: 40px;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
        font-family: Roboto;
        background-color: unset;
        display: block;
        
    }
    .brands {
        h5 {
            padding-bottom: 48px;
            font-family: PlayfairDisplay;
            font-size: 22px;
            font-weight: 800;
            color: #413d4b;
            margin-bottom: 0;
            padding-left: 30px;
        }
        img {
            display: block;
        }
        img.zara {
            padding-bottom: 45px;
        }
        img.barneys, .converce  {
            padding-bottom: 50px;
        }
        img.calvin {
            padding-bottom: 55px;
        }
        img.mango {
            padding-bottom: 60px;
        }
        img.gucci, .nike  {
            padding-bottom: 55px;
        }
        img.puma {
            padding-bottom: 30px;
        }
        .brand-left-col {
            padding-left: 45px;
        }
        .brand-right-col {
            padding-right: 45px;
        }
    }
}
    


