doctype html
html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel="stylesheet", href="css/styles.css?ver=3")
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css")
  <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
  title My Diploma Project
body
  .home-wrapper
    header
      .container
        .row
          .column.col-lg-4.col-md-12.col-sm-12.logo-type
            img(src="img/logo-small.png", alt="logo-small")
            img.logo-name(src="img/logo-name.png", alt="logo-name")
          .column.col-lg-8.col-md-12.col-sm-12
            nav.navbar.navbar-expand-lg.navbar-light
              .navbar-brand
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                  span.navbar-toggler-icon
              #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                  li.nav-item.active
                    a.nav-link(href='#home')
                      | Home 
                      span.sr-only  (current)
                  li.nav-item
                    a.nav-link(href='#') About
                  li.nav-item
                    a.nav-link(href='#') Expertise
                  li.nav-item
                    a.nav-link(href='#') Teams
                  li.nav-item
                    a.nav-link(href='#') Works
                  li.nav-item
                    a.nav-link(href='#') People say
                  li.nav-item
                    a.nav-link(href='#') Contact
    section#home 
      #carouselExampleCaptions.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
          li(data-target='#carouselExampleCaptions' data-slide-to='1')
          li(data-target='#carouselExampleCaptions' data-slide-to='2')
          li(data-target='#carouselExampleCaptions' data-slide-to='3')
        .carousel-inner
          .carousel-item.active.text-center
            h5 We Are Awesome Creative Agency
            .border-line
            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button Learn more
            .carousel-inner
          .carousel-item.text-center
            h5 We Are Awesome Creative Agency
            .border-line
            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button Learn more
            .carousel-inner
          .carousel-item.text-center
            h5 We Are Awesome Creative Agency
            .border-line
            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button Learn more
            .carousel-inner
          .carousel-item.text-center
            h5 We Are Awesome Creative Agency
            .border-line
            p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            button Learn more
  section.about
    .container
      .row
        .column.col-lg-5.col-md-4.col-sm-12.our-story-logo
          img.logos(src="img/logo1.png", alt="logo")
        .column.col-lg-7.col-md-8.col-sm-12.our-story
          h3 Our Story
          p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus.
          p Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          button Learn more
  section.our-video
      iframe(src='https://www.youtube.com/embed/1NrJcusn_a4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
  section.expertise
    .expertise-title.text-center
      h5 EXPERTISE
      p Lorem ipsum dolor sit amet proin gravida nibh vel velit
      .border-line
    .work
      .monitor
        .pkt
          img(src="img/monitor.png", alt="monitor")
        h5 WEB DESIGN &amp; DEVELOPMENT
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      .paint
        .pkt
          img(src="img/paint.png", alt="paint")
        h5 BRANDING IDENTITY
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      .mobile
        .pkt
          img(src="img/mobile.png", alt="mobile")
        h5 MOBILE APP
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      .round
        .pkt
          img(src="img/round.png", alt="round")
        h5 SEARCH ENGINE OPTIMIZATION
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      .game
        .pkt
          img(src="img/game.png", alt="game")
        h5 GAME DEVELOPMENT
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
      .heard
        .pkt
          img(src="img/heard.png", alt="heard")
        h5 MADE WITH LOVE
        p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.
  section.team.text-center
    .container
      .our-team
        h5 Meet Our Amazing team
        p Lorem ipsum dolor sit amet proin gravida nibh vel velit
        .border-line
      .img-team
        .photo-wrapper
          .photo
            img(src="img/semf_ucuk.png", alt="semf_ucuk")
            h5 Semf Ucuk
            p CEO &amp; FOUNDER
        .photo-wrapper
          .photo
            img(src="img/dik_adalin.png", alt="dik_adalin")
            h5 Dik Adalin
            p ENGINEERING
        .photo-wrapper
          .photo
            img(src="img/jeng_kol.png", alt="jeng_kol")
            h5 Jeng Kol
            p DESIGNER
        .photo-wrapper
          .photo
            img(src="img/pet_romak.png", alt="pet_romak")
            h5 Pet Romak
            p MARKETING
      .dream-team
        p Become part of our dream team, let’s join us ! 
        button WE ARE HIRING
  section.our-work
    .project.container
      h5 Our work
      p See All Project in dribbble
        i.fal.fa-chevron-right 
    #grid
      .pict
        img(src="img/1.png", alt="1")
      .pict 
        img(src="img/2.png", alt="2")
      .pict 
        img(src="img/3.png", alt="3")
      .pict 
        img(src="img/4.png", alt="4")
      .pict 
        img(src="img/5.png", alt="5")
      .pict 
        img(src="img/6.png", alt="6")
      .pict
        img(src="img/7.png", alt="7")
      .pict 
        img(src="img/8.png", alt="8")
      .pict 
        img(src="img/9.png", alt="9")
      .pict 
        img(src="img/10.png", alt="10")
      .pict 
        img(src="img/11.png", alt="11")
      .pict 
        img(src="img/12.png", alt="12")
    button Load More
  section.team.text-center
    .quote
      h5 “
      p This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit.
    .container
      #carouselExampleControls.carousel.slide(data-ride='carousel')
        .carousel-inner.text-center
          .carousel-item.active
            h5 dik adalin
            p CEO TENGKUREP
            img(src='img/semf_ucuk.png' alt='semf_ucuk')
            img.bigger(src='img/dik_adalin.png' alt='dik_adalin')
            img(src='img/jeng_kol.png' alt='jeng_kol')
          .carousel-item
            h5 semf ucuk
            p ENGINEERING
            img(src='img/pet_romak.png' alt='pet_romak')
            img.bigger(src='img/semf_ucuk.png' alt='semf_ucuk')
            img(src='img/dik_adalin.png' alt='dik_adalin')
          .carousel-item
            h5 pet romak
            p  DESIGNER
            img(src='img/jeng_kol.png' alt='jeng_kol')
            img.bigger(src='img/pet_romak.png' alt='pet_romak')
            img(src='img/semf_ucuk.png' alt='semf_ucuk')
        a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
  section.good-news
    .container
      .row
        .column.col-lg-6.col-md-12.col-md-12
          h5 GIVE US A GOOD NEWS
          form
            .form-group  
              input#exampleInputName.form-control(type='name' aria-describedby='nameHelp' placeholder='Name')
            .form-group
              input#exampleInputEmail.form-control(type='email' aria-describedby='emailHelp' placeholder='Email')
            .form-group  
              input#exampleInputSubject.form-control(type='subject' aria-describedby='subjectHelp' placeholder='Subject')
            .form-group
              textarea#exampleFormControlTextarea1.form-control(rows='10') Your Massage
            button(type='submit') Submit

        .column.col-lg-6.col-md-12.col-md-12.brands
          h5 OUR HAPPY CLIENT
          .row
            .column.col-lg-6.col-md-6.col-sm-12.brand-left-col
              img.zara(src="img/zara.png", alt="zara")
              img.barneys(src="img/barneys.png", alt="barneys")
              img.calvin(src="img/calvin_klane.png", alt="calvin_klane")
              img.converce(src="img/converce.png", alt="converce")
              img.levis(src="img/levis.png", alt="levis")
            .column.col-lg-6.col-md-6.col-sm-12.brand-right-col
              img.mango(src="img/mango.png", alt="mango")
              img.gucci(src="img/gucci.png", alt="gucci")
              img.nike(src="img/nike1.png", alt="nike")
              img.puma(src="img/puma.png", alt="puma")
              img.billabong(src="img/billabong.png", alt="billabong")
  footer
    .container
      .logo-footer
        img.small(src="img/logo-small.png", alt="logo-small")
        img.name(src="img/logo-name.png", alt="logo-name")  
        p Lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh elit. Duis sed odio sit amet auctror a ornare odio non mauris vitae erat in elit
      .contact
        h5 Our studio
        .contact-item
          i.fal.fa-map-marker-alt 
          span Ruko cucruk, Jl. Radio luar dalem jos No.12 - 13, Kalideres - Jakarta Barat 11480 - Indonesia
        .contact-item  
          i.fal.fa-phone-volume 
          span (+62) 21-2224 3333
      .social
        h5 Stay in touch
        input.text(type="email" placeholder="Subscribe our newsletter")
        button
          img(src="img/paper.png", alt="paper")
        .social-footer
          .social-item
            i.fab.fa-facebook-square 
          .social-item
            i.fab.fa-twitter 
          .social-item
            i.fab.fa-dribbble
          .social-item
            i.fab.fa-instagram 
          .social-item
            i.fab.fa-google-plus-g
          .social-item
            i.fab.fa-youtube 
    .container.copyright
      .copyright-item
        span Help
        span terms&amp;condition
        span pryvacy
      .copyright-name
        span Copyright © 2020 - Elena Gronskaya

                
     





      

  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
